<div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
    <h2 class="col my-3">Mis reservaciones</h2>
    <div class="row d-flex justify-content-around">
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas2.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 2204</h5>
                <p class="card-text">Septiembre 30 <br> 14:00 - 15:00</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas3.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 3204</h5>
                <p class="card-text">Octubre 31 <br> 14:30 - 16:00</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas4.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 2204</h5>
                <p class="card-text">Agosto 30 <br> 14:00 - 15:00</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas2.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 1204</h5>
                <p class="card-text">Semestre Ene-May <br> 21:00 - 22:00</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas3.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 3513</h5>
                <p class="card-text">Septiembre 30 - Octubre 31<br> 16:00 - 17:30</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas4.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 2204</h5>
                <p class="card-text">Noviembre 03 <br> 14:00 - 15:00</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas3.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 3513</h5>
                <p class="card-text">Septiembre 13 <br> 16:00 - 17:30</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
        <div class="card col-md-3 mr-2 my-3">
            <img src="assets/img/aulas4.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Salón 2204</h5>
                <p class="card-text">Octubre 20 - Noviembre 03 <br> 14:00 - 15:00</p>
                <a href="#" class="btn btn-primary">Ver información</a>
            </div>
        </div>
    </div>
</div>