<main>
    <div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
        <h2 class="col my-3">Proximas reservaciones</h2>
        <div class="row d-flex justify-content-around">
            <div class="card col-md-3 mr-2 my-3">
                <img src="assets/img/aulas2.jpg" height="150px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Salón 2204</h5>
                    <p class="card-text">Septiembre 30 <br> 14:00 - 15:00</p>
                    <a href="#" class="btn btn-primary">Ver información</a>
                </div>
            </div>
            <div class="card col-md-3 mr-2 my-3">
                <img src="assets/img/aulas3.jpg" height="150px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Salón 3204</h5>
                    <p class="card-text">Septiembre 30 <br> 14:30 - 16:00</p>
                    <a href="#" class="btn btn-primary">Ver información</a>
                </div>
            </div>
            <div class="card col-md-3 mr-2 my-3">
                <img src="assets/img/aulas4.jpg" height="150px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Salón 2204</h5>
                    <p class="card-text">Septiembre 30 <br> 14:00 - 15:00</p>
                    <a href="#" class="btn btn-primary">Ver información</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
        <h2 class="col my-3">Reservar un salón</h2>
        <div class="row mt-5">
            <h3 class="col-6 text-center">Hora de inicio</h3>
            <h3 class="col-6 text-center">Hora de fin</h3>
        </div>
        <div class="row d-flex mb-3">
            <div class="col-6 ml-2 form-group row justify-content-center">
                <div class="col-sm-10">
                    <input type="time" id="fecha-inicio" class="form-control" name="fecha-inicio" value="13:30">
                </div>
            </div>
            <div class="col-6 ml-2 form-group row justify-content-center">
                <div class="col-sm-10">
                    <input type="time" id="fecha-inicio" class="form-control" name="fecha-inicio" value="14:30">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="card col-md-5 mr-2 my-3">
                <img src="assets/img/aulas1.jpg" height="250px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Disponibilidad Aulas 1:</h5>
                    <p class="card-text">9 salones</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
            <div class="card col-md-5 mr-2 my-3">
                <img src="assets/img/aulas2.jpg" height="250px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Disponibilidad Aulas 2:</h5>
                    <p class="card-text">12 salones</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
            <div class="card col-md-5 mr-2 my-3">
                <img src="assets/img/aulas3.jpg" height="250px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Disponibilidad Aulas 3:</h5>
                    <p class="card-text">11 salones</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
            <div class="card col-md-5 mr-2 my-3">
                <img src="assets/img/aulas4.jpg" height="250px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Disponibilidad Aulas 4:</h5>
                    <p class="card-text">10 salones</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>

        </div>
    </div>
</main>